<!DOCTYPE html>
<html>
  <head>
    <title>Fritter--</title>
  </head>
  <body>
    <h2>Session Info</h2>
    <% if (user) { %>
      Logged in as <%= user %>.
      <form action="/logout" method="post">
        <input type="submit" value="Log out">
      </form>
    <% } else { %>
      <form action="/login" method="post">
        <input type="text" name="user">
        <input type="submit" value="Log in">
      </form>
    <% } %>

    <h2>Messages</h2>
    <% messages.forEach(function(message) { %>
      <b><%= message.user %>:</b> <%= message.text %><br/>
    <% }); %>

    <% if (user) { %>
      <h2>Send Message</h2>

      <form action="/send" method="post">
        <input type="text" name="text">
        <input type="submit" value="Send">
      </form>

      <h2>Following</h2>

      <form action="/follow" method="post">
        Start following: <input type="text" name="user"> <input type="submit" value="Follow">
      </form>

      <h3>Following now</h3>
      <% following.forEach(function(followed) { %>
        <form action="/unfollow" method="post">
          <b><%= followed.followed %></b>
          <input type="hidden" name="user" value="<%= followed.followed %>">
          <input type="submit" value="Unfollow">
        </form>
      <% }); %>
    <% } %>
  </body>
</html>
